<div class="container aboutme">
	<div class="row">
		<div class="col-6"></div>
		<div class="col-6">
			<h1>Sobre mí</h1>
			<p>
				Hola, que puedo decir, soy un desarrollador FrontEnd creativo y
				analista con más de 10 años de experiencia profesional. <br />
				Desarrollo diseños atractivos y me fascinan las animaciones que
				cobran vida en cada proyecto de mis clientes, utilizando las
				tecnologías más sofisticadas disponibles en la actualidad para
				sitios web y aplicaciones totalmente interactivos. <br />
				Me gusta ser autodidacta y en esta carrera hay que serlo por la
				constante evolución de las tecnologías.
			</p>
		</div>
	</div>
</div>