@import "../../variables.scss";

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: $raleway;
  font-weight: 600;
}
.baseparallax {
  height: 300px;
}
.baseHexagon-left {
  position: absolute !important;
  top: -150% !important;
  left: -90% !important;
  svg {
    height: 90vh;
    width: auto;
    fill: rgba($azul, 0.18);
  }
}
.imgSobreMi {
  img {
    top: -100px;
    position: absolute;
    left: 30px;
  }
}
