<div class="container aboutme">
  <div class="row">
    <div class="col-6">
      <div class="baseHexagon-left">
        <svg
          id="Capa_1"
          data-name="Capa 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51.96 60"
        >
          <g id="soical">
            <g id="social">
              <g id="hexagon-black">
                <polygon
                  id="Polygon-64"
                  points="25.98 0 51.96 15 51.96 45 25.98 60 0 45 0 15 25.98 0"
                  style="fill-rule: evenodd;"
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div
        class="baseparallax"
        id="sceneAboutMe"
        data-friction-x="0.1"
        data-friction-y="0.1"
        data-scalar-x="25"
        data-scalar-y="15"
      >
        <div class="imgSobreMi" data-depth="0.1">
          <img src="../../assets/avatarAboutMe.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="textAbout">
        <h1>Sobre mí</h1>
        <p>
          Hola, que puedo decir, soy un desarrollador FrontEnd creativo y
          analista con más de 10 años de experiencia profesional. <br />
          Desarrollo diseños atractivos y me fascinan las animaciones que cobran
          vida en cada proyecto de mis clientes, utilizando las tecnologías más
          sofisticadas disponibles en la actualidad para sitios web y
          aplicaciones totalmente interactivos. <br />
          Me gusta ser autodidacta y en esta carrera hay que serlo por la
          constante evolución de las tecnologías.
        </p>
      </div>
    </div>
  </div>
</div>
