<div class="container-fluid skills">
  <h1 class="animFront">
    Frontend <span class="devColor devColor--yellow">Dev</span>
  </h1>
  <div class="row holder animFront">
    <div class="itemSkill itemSkill__front">
      <div class="icono"><img src="../assets/icoAngular.png" alt="" /></div>
      <div class="info">
        <div class="name">Angular</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 80%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__front">
      <div class="icono"><img src="../assets/icoReact.png" alt="" /></div>
      <div class="info">
        <div class="name">React</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 50%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__front">
      <div class="icono">
        <img src="../assets/icoJavascript.png" alt="" />
      </div>
      <div class="info">
        <div class="name">Javascript</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 90%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__front">
      <div class="icono">
        <img src="../assets/icoTypescript.png" alt="" />
      </div>
      <div class="info">
        <div class="name">Typescript</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 75%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__front">
      <div class="icono"><img src="../assets/icoXd.png" alt="" /></div>
      <div class="info">
        <div class="name">Adobe Xd</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 90%</div>
      </div>
    </div>
  </div>
  <h1 class="animBack">
    Backend <span class="devColor devColor--green">Dev</span>
  </h1>
  <div class="row holder animBack">
    <div class="itemSkill itemSkill__back">
      <div class="icono"><img src="../assets/icoNode.png" alt="" /></div>
      <div class="info">
        <div class="name">Node JS</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 70%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__back">
      <div class="icono">
        <img src="../assets/icoFirebase.png" alt="" />
      </div>
      <div class="info">
        <div class="name">Firebase</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 80%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__back">
      <div class="icono"><img src="../assets/icoMongo.png" alt="" /></div>
      <div class="info">
        <div class="name">Mongo DB</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 70%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__back">
      <div class="icono"><img src="../assets/icoPostman.png" alt="" /></div>
      <div class="info">
        <div class="name">Postman</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 90%</div>
      </div>
    </div>
  </div>
  <h1 class="animMobile">
    Mobile <span class="devColor devColor--lightblue">Dev</span>
  </h1>
  <div class="row holder animMobile">
    <div class="itemSkill itemSkill__mobile">
      <div class="icono"><img src="../assets/icoFlutter.png" alt="" /></div>
      <div class="info">
        <div class="name">Flutter</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 70%</div>
      </div>
    </div>
    <div class="itemSkill itemSkill__mobile">
      <div class="icono"><img src="../assets/icoDart.png" alt="" /></div>
      <div class="info">
        <div class="name">Dart</div>
        <div class="bar"><span class="barCharge"></span></div>
        <div class="level">LVL 70%</div>
      </div>
    </div>
  </div>
</div>
<div class="dojo">
  <img src="../assets/dojoTitle.png" alt="" class="dojoTitle" />
  <img src="../assets/icoRxjs.png" alt="" class="dojoTraining" />
  <p class="dojoTraining__title">RxJS</p>
  <img src="../assets/dojoIcon.png" alt="" class="dojoIcon" />
</div>
