<div
  [className]="
    menuredesBar ? 'menuredesBar menuActive' : ' menuredesBar menuDesactive'
  "
>
  <a href="#" class="logoKike">K</a>
  <ul>
    <li class="itemRedes" *ngFor="let red of menuredes">
      <a [attr.href]="red.link" class="itemLink" target="_blank">
        <fa-icon [icon]="red.icon" class="itemIcon"></fa-icon>
      </a>
    </li>
  </ul>
</div>

<div class="header container-fluid">
  <div class="row">
    <div class="logo col align-self-start"></div>
    <ul id="menu" class="nav align-self-end">
      <li data-menuanchor="home" class="nav-item">
        <a href="#home" class="nav-link"><p>Home</p></a>
      </li>
      <li data-menuanchor="sobremi" class="nav-item">
        <a href="#sobremi" class="nav-link"><p>Sobre mi</p></a>
      </li>
      <li data-menuanchor="habilidades" class="nav-item">
        <a href="#habilidades" class="nav-link"><p>Habilidades</p></a>
      </li>
      <li data-menuanchor="proyectos" class="nav-item">
        <a href="#proyectos" class="nav-link"><p>Proyectos</p></a>
      </li>
      <li data-menuanchor="blog" class="nav-item">
        <a href="#blog" class="nav-link"><p>Blog</p></a>
      </li>
    </ul>
  </div>
</div>

<div class="version">
  <a href="#">v2.0</a>
</div>

<div
  fullpage
  id="fullpage"
  [options]="config"
  (ref)="getRef($event)"
  #fullpageRef
>
  <!-- <div> -->
  <div class="section sectionHome">
    <particles
      [style]="myStyle"
      [width]="width"
      [height]="height"
      [params]="myParams"
    ></particles>
    <div class="baseLogo"></div>
    <div class="bio">
      <h1>{{ DatosPersonales.nombre }}</h1>
      <div class="title">{{ DatosPersonales.titulo }}</div>
      <ul class="redesBio">
        <li class="itemRedes" *ngFor="let red of menuredes">
          <a [attr.href]="red.link" class="itemLink" target="_blank">
            <fa-icon [icon]="red.icon" class="itemIcon"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section sectionSobremi" (click)="fullpage_api.moveSectionDown()">
    Some sobremi
  </div>
  <div class="section sectionSkills">
    <div class="container-fluid skills">
      <h1>Frontend <span class="devColor devColor--yellow">Dev</span></h1>
      <div class="row holder">
        <div class="itemSkill itemSkill__front">
          <div class="icono"><img src="../assets/icoAngular.png" alt="" /></div>
          <div class="info">
            <div class="name">Angular</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 80%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__front">
          <div class="icono"><img src="../assets/icoReact.png" alt="" /></div>
          <div class="info">
            <div class="name">React</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 50%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__front">
          <div class="icono">
            <img src="../assets/icoJavascript.png" alt="" />
          </div>
          <div class="info">
            <div class="name">Javascript</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 90%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__front">
          <div class="icono">
            <img src="../assets/icoTypescript.png" alt="" />
          </div>
          <div class="info">
            <div class="name">Typescript</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 75%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__front">
          <div class="icono"><img src="../assets/icoXd.png" alt="" /></div>
          <div class="info">
            <div class="name">Adobe Xd</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 90%</div>
          </div>
        </div>
      </div>
      <h1>Backend <span class="devColor devColor--green">Dev</span></h1>
      <div class="row holder">
        <div class="itemSkill itemSkill__back">
          <div class="icono"><img src="../assets/icoNode.png" alt="" /></div>
          <div class="info">
            <div class="name">Node JS</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 70%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__back">
          <div class="icono">
            <img src="../assets/icoFirebase.png" alt="" />
          </div>
          <div class="info">
            <div class="name">Firebase</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 80%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__back">
          <div class="icono"><img src="../assets/icoMongo.png" alt="" /></div>
          <div class="info">
            <div class="name">Mongo DB</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 70%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__back">
          <div class="icono"><img src="../assets/icoPostman.png" alt="" /></div>
          <div class="info">
            <div class="name">Postman</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 90%</div>
          </div>
        </div>
      </div>
      <h1>Mobile <span class="devColor devColor--lightblue">Dev</span></h1>
      <div class="row holder">
        <div class="itemSkill itemSkill__mobile">
          <div class="icono"><img src="../assets/icoFlutter.png" alt="" /></div>
          <div class="info">
            <div class="name">Flutter</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 70%</div>
          </div>
        </div>
        <div class="itemSkill itemSkill__mobile">
          <div class="icono"><img src="../assets/icoDart.png" alt="" /></div>
          <div class="info">
            <div class="name">Dart</div>
            <div class="bar"><span class="barCharge"></span></div>
            <div class="level">LVL 70%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="dojo">
      <img src="../assets/dojoTitle.png" alt="" class="dojoTitle" />
      <img src="../assets/icoJava.png" alt="" class="dojoTraining" />
      <p class="dojoTraining__title">Java</p>
      <img src="../assets/dojoIcon.png" alt="" class="dojoIcon" />
    </div>
  </div>
  <div
    class="section sectionProyectos"
    (click)="fullpage_api.moveTo('secondPage', 2)"
  >
    Some Proyectos
  </div>
  <div class="section sectionBlog">
    <div class="container medium">
      <div class="row">
        <div class="col-3 info">
          <h1>Medium</h1>
          <div class="descPost">
            <p class="descPost__title">{{ postMediumText }}</p>
            <a
              href="{{ postMediumLink }}"
              target="_blank"
              class="descPost__link"
              >Ver perfil</a
            >
            <img src="{{ postMediumImage }}" alt="" class="descPost__image" />
          </div>
          <p class="textPost">
            Cada vez que veo algo que me sirvió en un desarrollo trato de
            compartirlo. Date una vuelta por mi perfil si lo tuyo es la lectura
            y la programación. <br /><br />
            Enjoy code!
          </p>
        </div>
        <div class="col-9 posts">
          <div class="container">
            <div class="row">
              <div class="col-4" *ngFor="let post of postsMedium">
                <a [attr.href]="post.link" target="_blank" class="itemPost">
                  <img [src]="post.thumbnail" alt="" />
                  <div class="infoPost">
                    <p>
                      <fa-icon [icon]="faCalendarAlt" class="itemIcon"></fa-icon
                      >{{ changeFormatDate(post.pubDate.split(" ")[0]) }}
                    </p>
                    <h2>{{ post.title }}</h2>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
