@import url("https://unpkg.com/fullpage.js/dist/fullpage.min.css");
@import "../variables.scss";

.baseLogo {
  background-color: blue;
  width: 30%;
  height: 100%;
  z-index: 9;
  position: relative;
}
.header {
  position: absolute;
  z-index: 99;
}
#menu {
  display: flex;
}

.menuRedes {
  position: absolute;
  z-index: 9;
  height: 100vh;
  background-color: $azul;
  width: 100px;

  ul {
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 0;
  }
}
