@import url("https://unpkg.com/fullpage.js/dist/fullpage.min.css");
@import "../variables.scss";

%gradientBlue {
  background: rgba(9, 24, 120, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(9, 24, 120, 1)),
    color-stop(68%, rgba(2, 12, 63, 1)),
    color-stop(99%, rgba(2, 12, 63, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: linear-gradient(
    135deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091878', endColorstr='#020c3f', GradientType=1 );
}
%gradientCeleste {
  background: rgba(3, 16, 79, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(3, 16, 79, 1)),
    color-stop(45%, rgba(3, 16, 79, 1)),
    color-stop(99%, rgba(3, 47, 143, 1)),
    color-stop(100%, rgba(3, 47, 143, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03104f', endColorstr='#032f8f', GradientType=1 );
}

.baseLogo {
  @extend %gradientBlue;
  width: 60%;
  height: 100%;
  transform: skew(20deg);
  z-index: 9;
  position: relative;
  left: -10%;
  //overflow: hidden;
  &:after {
    content: "";
    background-image: url("../assets/grunge.png");
    right: -65px;
    position: absolute;
    width: 114px;
    height: 101%;
    background-size: cover;
    top: -8px;
  }
}
.header {
  position: absolute;
  z-index: 99;
  pointer-events: none;
}
#menu {
  display: flex;
  li {
    pointer-events: all;
  }
}

.menuRedes {
  position: absolute;
  z-index: 9;
  height: 100vh;
  background-color: $azul;
  width: 80px;

  ul {
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 15px;

    a {
      color: $rojo;
      padding: 5px 23px;
      display: block;
      text-align: center;
    }
  }
}

#fullpage {
  z-index: 1;

  .home {
    @extend %gradientCeleste;

    &:after {
      content: "";
      background-image: url(../assets/noise.png?background=#09187800&noise=1b51a1&density=54&opacity=75);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      top: 0;
      opacity: 0.4;
      left: 0;
    }
  }
}
