<div class="menuRedes">
  <a href="#" class="logoKike">K</a>
  <ul>
    <li class="itemRedes"><a href="#" class="itemLink">I</a></li>
    <li class="itemRedes"><a href="#" class="itemLink">G</a></li>
    <li class="itemRedes"><a href="#" class="itemLink">B</a></li>
    <li class="itemRedes"><a href="#" class="itemLink">L</a></li>
    <li class="itemRedes"><a href="#" class="itemLink">T</a></li>
  </ul>
</div>

<div class="header container-fluid">
  <div class="row">
    <div class="logo col align-self-start"></div>
    <ul id="menu" class="nav col align-self-end">
      <li data-menuanchor="firstPage" class="nav-item">
        <a href="#firstPage" class="nav-link">menu1</a>
      </li>
      <li data-menuanchor="secondPage" class="nav-item">
        <a href="#secondPage" class="nav-link">menu2</a>
      </li>
      <li data-menuanchor="thirdPage" class="nav-item">
        <a href="#thirdPage" class="nav-link">menu3</a>
      </li>
      <li data-menuanchor="fourthPage" class="nav-item">
        <a href="#fourthPage" class="nav-link">menu4</a>
      </li>
    </ul>
  </div>
</div>
<div
  fullpage
  id="fullpage"
  [options]="config"
  (ref)="getRef($event)"
  #fullpageRef
>
  <!-- <div> -->
  <div class="section">
    <particles
      [style]="myStyle"
      [width]="width"
      [height]="height"
      [params]="myParams"
    ></particles>
    <div class="baseLogo"></div>
  </div>
  <div class="section" (click)="fullpage_api.moveSectionDown()">
    Some section2
  </div>
  <div class="section">
    <div class="slide">Slide 2.1</div>
    <div class="slide">Slide 2.2</div>
    <div class="slide">Slide 2.3</div>
  </div>
  <div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">
    Some section4
  </div>
</div>
