@import "../../variables.scss";

.container {
  @include breakpoint("min-width:1420px") {
    max-width: 1280px;
  }
  .info {
    h1 {
      font-family: $raleway;
    }
    .descPost {
      position: relative;
      margin-bottom: 30px;
      &__title {
        font-size: 15px;
        font-family: $yanone;
        color: $celesteTexto;
        //width: 150px;
        margin-bottom: 5px;
      }
      &__link {
        display: inline-block;
        background: $rojo;
        color: white;
        padding: 5px 8px;
        border-radius: 3px;
        cursor: pointer;
        font-family: $raleway;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
      }
      &__image {
        width: 50px;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        right: 10px;
      }
    }
    .textPost {
      font-family: $vollkorn;
    }
  }
  .posts {
    .itemPost {
      display: block;
      margin: 15px 0;
      cursor: pointer;
      //padding: 5px;
      img {
        width: 100%;
        border-radius: 7px 7px 0 0;
      }
      .infoPost {
        background: $azul;
        padding: 15px;
        border-radius: 0 0 7px 7px;
        p {
          font-size: 14px;
          margin: 5px 0;
          color: $celesteTexto;
          font-family: $yanone;
          .itemIcon {
            margin-right: 10px;
          }
        }
        h2 {
          font-size: 14px;
          font-family: $raleway;
          height: 38px;
          color: white;
          text-decoration: none;
          display: -webkit-box;
          max-width: 100%;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 12px;
          line-height: 20px;
        }
      }

      &:hover {
        text-decoration: none;
        p,
        h2 {
          text-decoration: none !important;
        }
      }
    }
  }
}
.github {
  .info {
    .descPost {
      position: relative;
      margin-bottom: 30px;
      &__title {
        font-size: 15px;
        font-family: $raleway;
        color: $celesteTexto;
        //width: 150px;
        margin-top: 10px;
      }
      &__link {
        display: inline-block;
        background: $rojo;
        color: white;
        padding: 5px 8px;
        border-radius: 3px;
        cursor: pointer;
        font-family: $raleway;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        &:hover {
          text-decoration: none;
        }
      }
      &__image {
        width: 130px;
        border-radius: 50%;
        position: relative;
        top: 4px;
        left: 0px;
      }
      .holderEmoji {
        background-color: #fff;
        border: 1px solid #e1e4e8;
        border-radius: 2em;
        position: absolute;
        left: 98px;
        top: 90px;
        padding: 5px;
      }
      .name {
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 15px;
      }
      .username {
        font-size: 16px;
        color: $celesteTexto;
      }
    }
    .textPost {
      font-family: $raleway;
      font-size: 12px;
      margin-bottom: 12px;
      .octicon {
        fill: white;
        margin-right: 10px !important;
        width: 16px;
      }
      a {
        cursor: pointer;
      }
    }
  }

  .contributions {
    .row {
      max-width: 860px;
      margin-bottom: 10px;
    }
    .holderCommits {
      display: flex;
      -webkit-box-align: end !important;
      align-items: flex-end !important;
      text-align: right;
      overflow: hidden;
      flex-direction: column;
      border: 1px solid #98b7f7;
      padding: 5px;
      border-radius: 4px;
      .containerColumns {
        display: flex;
      }
      .columnaCommits {
        //display: inline-block;
        display: flex;
        -webkit-box-align: end !important;
        align-items: flex-end !important;
        overflow: hidden;
        text-align: center !important;
        flex-direction: column !important;
        .commit {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 2px;
          background: rgba(255, 255, 255, 0.2);
          margin: 2px;
          border: 2px solid transparent;
          @include transition(all 0.3s 0s ease-out);
          /*  &.white {
						background: rgba(255, 255, 255, 0.2);
					} */
          &.light {
            background: $light;
          }
          &.normal {
            background: $normal;
          }
          &.dark {
            background: $dark;
          }
          &.darker {
            background: $darker;
          }
          &.fill {
            cursor: pointer;
          }
          .ttip {
            opacity: 0;
            position: absolute;
            font-size: 11px;
            width: fit-content;
            background: $rojo;
            padding: 6px 8px;
            margin-top: -40px;
            pointer-events: none;
            border-radius: 3px;
            text-align: left;
            margin-left: -3px;
            line-height: 12px;
            @include transition(all 0.3s 0s ease-out);
          }
          &:hover {
            &.fill {
              border: 2px solid white;
            }
            .ttip {
              opacity: 1;
              @include transition(all 0.5s 0s ease-out);
            }
          }
        }
      }
    }
    .titlePinnedRepos {
      margin: 30px 0 0;
    }
    .pinnedRepo {
      .linkPin {
        display: block;
        margin: 20px 0 30px;
        color: rgba(255, 255, 255, 0.7);
        @include transition(all 0.3s 0s ease-out);
        &:before {
          content: "";
          background: rgba($azul, 0);
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          left: 0px;
          top: 0;
          z-index: -1;
          border-radius: 8px;
          transform: scale(0.8);
          @include transition(all 0.3s 0s cubic-bezier(0.34, 1.56, 0.64, 1));
        }
        &:hover {
          text-decoration: none;
          color: rgba(255, 255, 255, 1);
          @include transition(all 0.3s 0s ease-out);
          h3 {
            color: $yellow;
          }
          &:before {
            background: rgba($azul, 0.5);
            transform: scale(1);
            @include transition(all 0.2s 0s cubic-bezier(0.34, 1.56, 0.64, 1));
          }
        }
      }
      h3 {
        font-size: 18px;
        font-family: $raleway;
        font-weight: 500;
        svg {
          fill: white;
        }
        &:after {
          content: "";
          width: 100%;
          border-top: 1px solid white;
          display: block;
          margin: 7px 0;
        }
      }
      .description {
        font-size: 12px;
        height: 54px;
      }
      .language {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        padding-left: 20px;
        svg {
          width: 14px;
          position: absolute;
          top: 2px;
          left: 0;
        }
      }
    }
  }
}
