<div class="menuBlog">
  <ul>
    <li>
      <!-- <a
        href="#blog"
        (mouseover)="mouseOverTo($event)"
        (mouseout)="mouseOutTo($event)"
        >Medium</a> -->
      <a href="#blog">Medium</a>
    </li>
    <li>
      <a href="#blog/slide2">Github</a>
    </li>
  </ul>
</div>
<div class="slide" data-anchor="slide1">
  <div class="container medium">
    <div class="row">
      <div class="col-3 info">
        <h1>Medium</h1>
        <div class="descPost">
          <p class="descPost__title">{{ postMediumText }}</p>
          <a [attr.href]="postMediumLink" target="_blank" class="descPost__link"
            >Ver perfil</a
          >
          <img src="{{ postMediumImage }}" alt="" class="descPost__image" />
        </div>
        <p class="textPost">
          Cada vez que veo algo que me sirvió en un desarrollo trato de
          compartirlo. Date una vuelta por mi perfil si lo tuyo es la lectura y
          la programación. <br /><br />
          Enjoy code!
        </p>
      </div>
      <div class="col-9 posts">
        <div class="container">
          <div class="row">
            <div class="col-6" *ngFor="let post of postsMedium">
              <a [attr.href]="post.link" target="_blank" class="itemPost">
                <img [src]="post.thumbnail" alt="" />
                <div class="infoPost">
                  <p>
                    <fa-icon [icon]="faCalendarAlt" class="itemIcon"></fa-icon
                    >{{ changeFormatDate(post.pubDate.split(" ")[0]) }}
                  </p>
                  <h2>{{ post.title }}</h2>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slide" data-anchor="slide2">
  <div class="container github">
    <div class="row">
      <div class="col-3 info">
        <h1>Github</h1>
        <div class="descPost">
          <div class="infoTitle">
            <img
              src="{{ dataGithub['avatarUrl'] }}"
              alt=""
              class="descPost__image"
            />
            <div class="holderEmoji">
              <img
                class="emoji"
                title=":octocat:"
                alt=":octocat:"
                src="https://github.githubassets.com/images/icons/emoji/octocat.png"
                height="20"
                width="20"
                align="absmiddle"
              />
            </div>
          </div>
          <p class="name">{{ dataGithub.name }}</p>
          <p class="username">{{ dataGithub.login }}</p>
          <a [attr.href]="dataGithub.url" target="_blank" class="descPost__link"
            >Ver perfil</a
          >
          <p class="descPost__title">{{ dataGithub["bio"] }}</p>
        </div>
        <p class="textPost">
          <svg
            class="octicon octicon-organization"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            height="16"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M1.5 14.25c0 .138.112.25.25.25H4v-1.25a.75.75 0 01.75-.75h2.5a.75.75 0 01.75.75v1.25h2.25a.25.25 0 00.25-.25V1.75a.25.25 0 00-.25-.25h-8.5a.25.25 0 00-.25.25v12.5zM1.75 16A1.75 1.75 0 010 14.25V1.75C0 .784.784 0 1.75 0h8.5C11.216 0 12 .784 12 1.75v12.5c0 .085-.006.168-.018.25h2.268a.25.25 0 00.25-.25V8.285a.25.25 0 00-.111-.208l-1.055-.703a.75.75 0 11.832-1.248l1.055.703c.487.325.779.871.779 1.456v5.965A1.75 1.75 0 0114.25 16h-3.5a.75.75 0 01-.197-.026c-.099.017-.2.026-.303.026h-3a.75.75 0 01-.75-.75V14h-1v1.25a.75.75 0 01-.75.75h-3zM3 3.75A.75.75 0 013.75 3h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 3.75zM3.75 6a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM3 9.75A.75.75 0 013.75 9h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 9.75zM7.75 9a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM7 6.75A.75.75 0 017.75 6h.5a.75.75 0 010 1.5h-.5A.75.75 0 017 6.75zM7.75 3a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5z"
            ></path>
          </svg>
          {{ dataGithub.company }}
        </p>
        <p class="textPost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 273.5 222.3"
            class="octicon"
          >
            <path
              d="M273.5 26.3a109.77 109.77 0 0 1-32.2 8.8 56.07 56.07 0 0 0 24.7-31 113.39 113.39 0 0 1-35.7 13.6 56.1 56.1 0 0 0-97 38.4 54 54 0 0 0 1.5 12.8A159.68 159.68 0 0 1 19.1 10.3a56.12 56.12 0 0 0 17.4 74.9 56.06 56.06 0 0 1-25.4-7v.7a56.11 56.11 0 0 0 45 55 55.65 55.65 0 0 1-14.8 2 62.39 62.39 0 0 1-10.6-1 56.24 56.24 0 0 0 52.4 39 112.87 112.87 0 0 1-69.7 24 119 119 0 0 1-13.4-.8 158.83 158.83 0 0 0 86 25.2c103.2 0 159.6-85.5 159.6-159.6 0-2.4-.1-4.9-.2-7.3a114.25 114.25 0 0 0 28.1-29.1"
              fill="currentColor"
            ></path>
          </svg>
          <a
            href="https://twitter.com/{{ dataGithub.twitterUsername }}"
            target="_blank"
            >@{{ dataGithub.twitterUsername }}</a
          >
        </p>
        <p class="textPost">
          <svg
            class="octicon octicon-cpu mr-2 text-gray-light"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            height="16"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M6.5.75a.75.75 0 00-1.5 0V2H3.75A1.75 1.75 0 002 3.75V5H.75a.75.75 0 000 1.5H2v3H.75a.75.75 0 000 1.5H2v1.25c0 .966.784 1.75 1.75 1.75H5v1.25a.75.75 0 001.5 0V14h3v1.25a.75.75 0 001.5 0V14h1.25A1.75 1.75 0 0014 12.25V11h1.25a.75.75 0 000-1.5H14v-3h1.25a.75.75 0 000-1.5H14V3.75A1.75 1.75 0 0012.25 2H11V.75a.75.75 0 00-1.5 0V2h-3V.75zm5.75 11.75h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h8.5a.25.25 0 01.25.25v8.5a.25.25 0 01-.25.25zM5.75 5a.75.75 0 00-.75.75v4.5c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-4.5a.75.75 0 00-.75-.75h-4.5zm.75 4.5v-3h3v3h-3z"
            ></path>
          </svg>
          {{ developMember }}
        </p>
      </div>
      <div class="col-9 contributions">
        <div class="container">
          <div class="row" *ngIf="dataGithub">
            <div class="col d-flex justify-content-between">
              <div class="title__commits">
                <b>{{
                  dataGithub.contributionsCollection?.contributionCalendar
                    .totalContributions
                }}</b>
                contribuciones en el último año
              </div>
              <div class="title__repos">
                <b>{{ dataGithub.repositories?.totalCount }}</b> repositorios
              </div>
            </div>
          </div>
          <div class="row" style="padding: 0 15px;">
            <div class="holderCommits">
              <div class="containerColumns">
                <div
                  class="columnaCommits"
                  *ngFor="
                    let week of dataGithub.contributionsCollection
                      ?.contributionCalendar.weeks
                  "
                >
                  <!-- {{week.firstDay}} -->
                  <div
                    *ngFor="let commit of week.contributionDays"
                    [className]="
                      getColorCalendarGithub(commit.contributionCount)
                    "
                    id="{{ commit.contributionCount }}"
                  >
                    <div class="ttip" *ngIf="commit.contributionCount > 0">
                      <b>{{ commit.contributionCount }} Contribuciones</b>
                      <br />{{ changeFormatDate(commit.date) }}
                    </div>
                    <!-- {{commit.contributionCount}} -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="titlePinnedRepos">Repositorios públicos destacados</p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-6 pinnedRepo"
              *ngFor="let pin of dataGithub.pinnedItems?.nodes"
            >
              <a [attr.href]="pin.url" target="_blank" class="linkPin">
                <h3>
                  <svg
                    class="octicon octicon-repo mr-1 text-gray flex-shrink-0"
                    viewBox="0 0 16 16"
                    version="1.1"
                    width="16"
                    height="16"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"
                    ></path>
                  </svg>
                  {{ pin.name }}
                </h3>
                <p class="description">{{ pin.description }}</p>
                <p class="language" *ngIf="pin.primaryLanguage?.name">
                  <svg
                    id="Capa_1"
                    data-name="Capa 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 51.96 60"
                    [attr.fill]="pin.primaryLanguage?.color"
                  >
                    <g id="soical">
                      <g id="social">
                        <g id="hexagon-black">
                          <polygon
                            id="Polygon-64"
                            points="25.98 0 51.96 15 51.96 45 25.98 60 0 45 0 15 25.98 0"
                            style="fill-rule: evenodd;"
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                  {{ pin.primaryLanguage?.name }}
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
