/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/fullpage.js/dist/fullpage.min.css";
@import "./variables.scss";

%bgWeb {
  background: rgba(15, 36, 153, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(15, 36, 153, 1) 0%,
    rgba(2, 12, 63, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(15, 36, 153, 1)),
    color-stop(100%, rgba(2, 12, 63, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(15, 36, 153, 1) 0%,
    rgba(2, 12, 63, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(15, 36, 153, 1) 0%,
    rgba(2, 12, 63, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(15, 36, 153, 1) 0%,
    rgba(2, 12, 63, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(15, 36, 153, 1) 0%,
    rgba(2, 12, 63, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2499', endColorstr='#020c3f', GradientType=1 );
}
body {
  @extend %bgWeb;
  //background-color: #0e2773 !important;
  color: white !important;
  &::after {
    content: "";
    background-image: url(./assets/noise-dark.png?background=#09187800&noise=1b51a1&density=54&opacity=75);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0.3;
  }

  #fp-nav {
    margin-right: 10px;
    margin-top: 0 !important;
    ul li {
      margin: 80px 7px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 85px;
        background: rgba(255, 255, 255, 0.2);
        margin-left: 10px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a {
        span {
          width: 7px;
          height: 7px;
          background: rgba(255, 255, 255, 0.3);
          margin: 0 !important;
        }
        &.active {
          span {
            width: 7px;
            height: 7px;
            &:before {
              content: "";
              width: 25px;
              height: 25px;
              background: rgba(255, 255, 255, 0.1);
              display: block;
              border-radius: 50%;
              margin-left: -9px;
              margin-top: -9px;
              @include transition(all 0.5s 0s ease-out);
            }
          }
        }
        &:hover {
          span {
            width: 7px !important;
            height: 7px !important;
            &:before {
              content: "";
              width: 25px;
              height: 25px;
              background: rgba(255, 255, 255, 0.1);
              display: block;
              border-radius: 50%;
              margin-left: -9px;
              margin-top: -9px;
              @include transition(all 0.5s 0s ease-out);
            }
          }
        }
      }
    }
  }
}
