//@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600&family=Yanone+Kaffeesatz:wght@300;400;500&family=Raleway:wght@300;400;600&display=swap");

$vollkorn: "Vollkorn", serif;
$yanone: "Yanone Kaffeesatz", sans-serif;
$raleway: "Raleway", sans-serif;

$azul: #0c1239;
$rojo: #ff214f;
$rojoDark: #e4042f;
$celeste: #5087f9;
$celesteTexto: #98b7f7;

$yellow: #ffb20c;
$green: #06d933;

/*------------ GITHUB COMMITS -----------*/
$light: #75b2fd; //#75b2fd #1190fd #0454cc #0119ab
$normal: #1190fd;
$dark: #0454cc;
$darker: #0119ab;

@mixin breakpoint($break) {
  @if $break == L {
    @media (max-width: 1420px) {
      @content;
    }
  } @else if $break == M {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $break == S {
    @media (max-width: 989px) {
      @content;
    }
  } @else if $break == XS {
    @media (max-width: 759px) {
      @content;
    }
  } @else {
    @media ($break) {
      @content;
    }
  }
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property: $duration;
  -o-transition-property: $duration;
  -webkit-transition-property: $duration;
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin box-shadow($prop) {
  -webkit-box-shadow: $prop;
  -moz-box-shadow: $prop;
  box-shadow: $prop;
}

@keyframes scale-easeOutElastic {
  0% {
    transform: scale(1);
  }

  16% {
    transform: scale(-0.32);
  }

  28% {
    transform: scale(0.13);
  }

  44% {
    transform: scale(-0.05);
  }

  59% {
    transform: scale(0.02);
  }

  73% {
    transform: scale(-0.01);
  }

  88% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

%gradientMenuBar {
  background: rgba(14, 4, 87, 1);
  background: -moz-linear-gradient(
    top,
    rgba(14, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(14, 4, 87, 1)),
    color-stop(100%, rgba(9, 11, 59, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(14, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(14, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(14, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(14, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0457', endColorstr='#090b3b', GradientType=0 );
}

%gradientBlue {
  background: rgba(9, 24, 120, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(9, 24, 120, 1)),
    color-stop(68%, rgba(2, 12, 63, 1)),
    color-stop(99%, rgba(2, 12, 63, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  background: linear-gradient(
    135deg,
    rgba(9, 24, 120, 1) 0%,
    rgba(2, 12, 63, 1) 68%,
    rgba(2, 12, 63, 1) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091878', endColorstr='#020c3f', GradientType=1 );
}
%gradientCeleste {
  background: rgba(3, 16, 79, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(3, 16, 79, 1)),
    color-stop(45%, rgba(3, 16, 79, 1)),
    color-stop(99%, rgba(3, 47, 143, 1)),
    color-stop(100%, rgba(3, 47, 143, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(3, 16, 79, 1) 0%,
    rgba(3, 16, 79, 1) 45%,
    rgba(3, 47, 143, 1) 99%,
    rgba(3, 47, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03104f', endColorstr='#032f8f', GradientType=1 );
}
%gradientSections {
  background: rgba(13, 4, 87, 1);
  background: -moz-linear-gradient(
    left,
    rgba(13, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(13, 4, 87, 1)),
    color-stop(100%, rgba(9, 11, 59, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(13, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(13, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(13, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(13, 4, 87, 1) 0%,
    rgba(9, 11, 59, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0457', endColorstr='#090b3b', GradientType=1 );
  /* background: rgba(38, 7, 97, 1);
  background: -moz-linear-gradient(
    left,
    rgba(38, 7, 97, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(38, 7, 97, 1)),
    color-stop(100%, rgba(13, 6, 43, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(38, 7, 97, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(38, 7, 97, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(38, 7, 97, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(38, 7, 97, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260761', endColorstr='#0d062b', GradientType=1 ); */
  /* background: rgba(22, 11, 110, 1);
  background: -moz-linear-gradient(
    left,
    rgba(22, 11, 110, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(22, 11, 110, 1)),
    color-stop(100%, rgba(13, 6, 43, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(22, 11, 110, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(22, 11, 110, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(22, 11, 110, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(22, 11, 110, 1) 0%,
    rgba(13, 6, 43, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160b6e', endColorstr='#0d062b', GradientType=1 ); */
}
