<particles
  [style]="myStyle"
  [width]="width"
  [height]="height"
  [params]="myParams"
></particles>
<div class="baseLogo"></div>
<div class="bio" >
  <h1 #bio>{{ DatosPersonales.nombre }}</h1>
  <div class="title" #cargo>{{ DatosPersonales.titulo }}</div>
</div>
<ul class="redesBio" #redes>
	<li class="itemRedes" *ngFor="let red of menuredes">
		<a
			[attr.href]="red.link"
			class="itemLink"
			target="_blank"
			(click)="sendSocialEvent('Home', red.name)"
		>
			<fa-icon [icon]="red.icon" class="itemIcon"></fa-icon>
		</a>
	</li>
</ul>
